<article class="{{ .Type }}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{ .Summary }} <a class="read-more" href="{{.RelPermalink}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        {{if .Site.Params.authorimage }}
            <img class="author-thumb" src="{{.Site.Params.author.image}}" alt="Author image" nopin="nopin" />
        {{end}}
        {{if .Site.Params.author}}
            {{.Site.Params.author}}
        {{end}}
        {{if .Params.tags }}on 
            {{ range $index, $tag := .Params.tags }}
                <a href="/tags/{{ $tag | urlize }}">{{ $tag }}</a>,
            {{ end }}
        {{end}}
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHtml }}">
            {{ .Date.Format "2 Jan 2006" }}
        </time>
    </footer>
</article>



