{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseUrl }}

{{if .Params.cover}}
	<header class="main-header tag-head" style="background-image: url({{ $baseurl }}{{.Params.cover}})">
{{else if .Site.Params.cover}}
	<header class="main-header tag-head" style="background-image: url({{ $baseurl }}{{.Site.Params.cover}})">
{{else}}
	<header class="main-header tag-head no-cover">
{{end}}
    <nav class="main-nav overlay clearfix">
        <a class="back-button icon-arrow-left" href="{{ .Site.BaseUrl }}">Home</a>
    	<a class="subscribe-button icon-feed" href="{{ .RSSLink }}">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{.Title}}</h1>
            <h2 class="page-description">
                {{if .Params.description}}
                    {{.Params.description}}
                {{end}}
            </h2>
        </div>
    </div>
</header>

<main class="content" role="main">
    {{ $paginator := .Paginator }}

	<div class="extra-pagination inner">
    {{ partial "pagination.html" $paginator }}
	</div>

	{{ range $index, $page := .Paginator.Pages }}
	   {{ .Render "li" }}
	{{ end }}

	{{ partial "pagination.html" $paginator }}
</main>



{{ partial "footer.html" . }}