{{ $ancestors := first .level (split .category.path " ") }}
{{ if eq ($ancestors | len) ((intersect $ancestors (split .parent " ")) | len) }}
  <div id="posts-list-{{ .category.name | urlize }}" data-category="{{ .category.name }}" data-parent-categories="{{ delimit $ancestors "," }}" style="display: block;">
  <h4>
    <a class="link-unstyled" href="{{ .category.name | urlize }}">{{ .category.name }} ({{ .scratch.GetSortedMapValues (replace .category.path " " "/") | len }})</a>
  </h4>
  <ul>
    {{ range (.scratch.GetSortedMapValues (replace .category.path " " "/")) }}
      <li style="display: list-item;">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a><span> - {{ partial "internal/date" . }}</span>
      </li>
    {{ end }}
  </ul>
  {{ $index := (add .level 1) }}
  {{ $path := (printf "%s" .category.path) }}
  {{ range .scratch.GetSortedMapValues (printf "category-level-%d" $index) }}
    {{ partial "internal/recursive-categories-full-1.html" (dict "scratch" $.scratch "category" . "level" $index "parent" $path) }}
  {{ end }}
  </div>
{{ end }}
