{{ if ne .Params.comments false}}
<div class="comment"></div>

<!--载入js，在</body>之前插入即可-->
<script src="//cdn1.lncld.net/static/js/3.10.0/av-min.js"></script>
<!--Valine 的核心代码库-->
<script src="//cdn.jsdelivr.net/gh/panjunwen/Valine@1.1.7/dist/Valine.min.js" integrity="sha256-tYk+LQKWYwNcEa84mjMJeh3GBDeDHA+CxRrTq6M1xEY=" crossorigin="anonymous"></script>
<script>
    new Valine({
        av: AV, 
        el: '.comment',
        emoticon_url: 'https://www.heartnn.com/smiles',
        emoticon_list: ["arrow.gif","biggrin.gif","confused.gif","cool.gif","cry.gif","eek.gif","evil.gif","exclaim.gif","idea.gif","lol.gif","mad.gif","mrgreen.gif","neutral.gif","question.gif","razz.gif","redface.gif","rolleyes.gif","sad.gif","smile.gif","surprised.gif","twisted.gif","wink.gif"],
        app_id: 'WmHH4997UnyEsd9H1aACe6rP-gzGzoHsz',
        app_key: '44mTerRFfQEcXcJ8kvvkeTp0',
        placeholder: 'ヾﾉ≧∀≦)o来啊，快活啊!',
    });
</script>
{{ end }}